<h1>Welcome to CSE Motors!</h1>
<div class="message">
    <%- messages() %>
</div>
<div id="hero">
    <img id="hero-img" src="/images/vehicles/delorean.jpg" alt="">
    <div id="hero-text">
        <h2>DMC Delorean</h2>
        <p>
            3 cup holders <br>
            Superman doors <br>
            Fuzzy dice
        </p>
        <button id="hero-btn">
            <img src="/images/site/own_today.png" alt="Owe Today">
        </button>
    </div>
</div>
<div class="index-content">
    <section id="section1">
        <h2>Delorean Upgrades</h2>
        <div id="section1Content">
            <a href="#" title="flux capacitor">
                <figure class="add-column">
                    <img src="/images/upgrades/flux-cap.png" alt="">
                    <figcaption>flux Capacitor</figcaption>
                </figure>
            </a>
            <a href="#" title="flame">
                <figure class="add-column">
                    <img src="/images/upgrades/flame.jpg" alt="">
                    <figcaption>flame</figcaption>
                </figure>
            </a>      
            <a href="#" title="bumper sticker">
                <figure class="add-column">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="">
                    <figcaption>bumper sticker</figcaption>
                </figure>
            </a>
            <a href="#" title="hub cap">
                <figure class="add-column">
                    <img src="/images/upgrades/hub-cap.jpg" alt="">
                    <figcaption>hub cap</figcaption>
                </figure>
            </a>
        </div>
    </section>
    <section id="section2">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li class="reviews">"So fast it's almost like traveling in time." (4/5)</li>
            <li class="reviews">"Coolest ride on the road." (4/5)</li>
            <li class="reviews">"I'm feeling McFly!" (5/5)</li>
            <li class="reviews">"The most futuristic ride of our day. "(4.5/5)</li>
            <li class="reviews">"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
</div>