/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}
/* --- Header section --- */
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-header a {
  color: black;
  text-decoration: none;
}
.siteName {
  font-size: 2em;
  font-weight: bold;
}

/* --- Nav section --- */
nav {
  background-color: rgb(35, 35, 50);
  padding: 10px;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.reviews {
  margin-bottom: 20px;
  margin-top: 20px;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  background-color: white;
  color: rgb(35, 35, 50);
  padding: 10px;
  border-radius: 10px;
}

/* --- Hero Section --- */
#hero {
  display: grid;
  color: rgb(80, 180, 210);
}
#hero-img {
  width: 100%;
  grid-column: 1/11;
  grid-row: 1/11;
  max-width: 1000px;
}
#hero-text {
  grid-column: 2/4;
  grid-row: 2/4;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
}
#hero-btn {
  background: none;
  border: none;
}

/* --- Main Section --- */
#section1 {
  grid-column: 1/2;
}
#section1Content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem; /* Adjust this value as needed */
}
.add-column {
  text-align: center;
}
#section1Content img {
  width: 100%;
  height: auto;
  background-color: rgb(80, 180, 210);
  padding: 10px;
  object-fit: contain;
  aspect-ratio: 2 / 1; 
  border: black solid 1px;
}

/* --- Classification Section --- */
#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  list-style: none;
}
#inv-display hr {
  height: 5px;
  background-color: black;
}
#inv-display h2 {
  font-size: 1.2em;
}
#inv-display li {
  border: 3px solid lightgray;
  text-align: center;
  border-radius: 20px;
  max-width: 350px;
}
#inv-display img {
  display: block;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 17px;
  margin-bottom: 30px;
}
/* --- Error Section --- */
#error {
  text-align: center;
}

/* --- Small Screen Section --- */
@media screen and (min-width: 768px) {
  body {
    background-image: url('/images/site/small_check.jpg');
    background-repeat: repeat;
    padding: 2rem;
    box-sizing: border-box;
  }
  #wrapper {
    background-color: white;
    border-radius: 10px;
    border: 5px solid rgb(80, 180, 210);
    padding: 5px;
  }
  /* --- Main Section --- */
  .index-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  #section2 {
    grid-column: 2/3;
  }
}