<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<div id="error">
    <img src="images/error/b6463d8b-ac87-42a7-ad59-6584a19a77a8.gif" alt="">
    <p><%= message %></p>
</div>